html,
body {
  height: 100%;
  width: 100%;
  background-image: url(../img/pokeball.png);
}

#container {
  margin: auto;
}

#poke-container {
  margin: auto;
  width: 90%;
  padding: 10px;
}

#header {
  border-radius: 0px !important;
  background-color: red;
  text-align: center;
  color: white;
  padding: 10px;
}

#header-text {
  margin: 0 auto;
}

li {
  margin: 20px;
  display: block;
  margin-left: 22vw;
  font-size: large;
  font-weight: bold;
  text-transform: capitalize;
}

#btnPoke {
  position: fixed;
  height: 30px;
  width: 30px;
  margin: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.pokeball {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: white;
  border: 5px solid black;
  overflow: hidden;
}

.pokeball::before {
  content: "";
  position: absolute;
  background: red;
  width: 100%;
  height: 50%;
}
.pokeball::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  background: white;
  border-top: 5px solid black;
  width: 100%;
  height: 50%;
}

.boton {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid black;
  border-radius: 50%;
  top: calc(50% - 15px - 4px);
  left: calc(50% - 15px - 4px);
  z-index: 10;
  background-color: white;
}

img {
  width: 40px;
  height: 40px;
}

@media (max-width: 980px) {
  li {
    margin-left: 16vw;
  }
}
