html {
  font-size: 62.5%;
}
body {
  background-color: #f5f3f3;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 3rem;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
header {
  padding: 20px 0 0 0;
  background: white;
  text-align: left;
}
#pokeStore {
  height: 150px;
  width: 250px;
}

.submenu {
  position: relative;
  right: 0;
}

.submenu #carrito {
  display: none;
}
.submenu:hover #carrito {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: lightblue;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

#img-carrito {
  width: 33px;
  height: 28px;
}

#lista-juegos .row {
  margin-bottom: 20px;
}
.agregar-carrito {
  margin: 10px 0;
}

.card {
  text-align: center;
  border: 1px solid #e1e1e1;
  background: white;
}
.card:hover {
  background-color: lightskyblue;
  border: 2px solid black;
}

.info-card {
  padding: 10px 20px;
}

.info-card p,
.card h4 {
  margin-bottom: 5px;
}
.info-card .precio {
  font-size: 18px;
  margin-top: 10px;
}
.info-card .precio span {
  font-weight: 700;
  font-size: 22px;
}
.img {
  width: 265px;
  height: 165px;
}

.borrar-juego {
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#addCard {
  background-color: aqua;
  display: none;
  position: absolute;
  left: 40vw;
  top: 20vw;
  z-index: 10;
  height: 100px;
  width: 200px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 50px;
}

.invisible {
  display: none;
}

@media screen and (max-width: 980px) {
  #addCard {
    background-color: aqua;
    display: none;
    position: absolute;
    z-index: 10;
    height: 100px;
    width: 150px;
    left: 18vw;
    top: 10vw;
  }
  header {
    text-align: center;
  }
}
